.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  background-image: url("src/assets/img/507319-wallpaper-simple-color-widescreen-green-aesthetic-best-hd-desktop-background.jpg") ;
}

.buttonsClass {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  margin: 10px;
}
a{
  text-decoration: none;
}
